body {
	background-image: url("mesa2.jpg");
	background-repeat: no-repeat;
	background-size:100%,100%;
	margin: 0;
	font-family: Consolas;
}

/*Menu central*/
#CenterMenu {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	margin-top: 7%;
	height: 40%;
	width: 40%;
}
/*Texto do pop UP*/
#readyText{
	font-size: 2.5em;
}
/*Cada botao do menu central*/
#CenterMenu button {


    text-align: center;
    text-decoration: none;
}

/*Botao do menu*/
#MenuButton {
	border-radius: 25px;
	font-size: 2.5em;
	color: black;
	background-color: white;
	border: 5px solid #9E9F9A;
	
	padding: 7.5%;
	width: 100%;
	height: 125px;
	text-align: center;

	margin-bottom: 1%;
}

/*Seccao de sugestao*/
#SuggestionSection {
	text-align: center;
	color: black;
	font-size: 1.5em;
}

#SuggestionText {
	background-color: #9E9F9A;
	border-top-left-radius: 2em;
	border-top-right-radius: 2em;
	border: solid #9E9F9A;
	border-bottom: none;
}

#SuggestionSection button {
	font-size: 2em;
}

#SuggestionButton1 {
	display: block;
	background-image: url("spaguetti2");
	border: solid #9E9F9A;
	width: 100%;
	width: 100%;
	height: 100px;
	padding: 5%;
}

#SuggestionButton2 {
	border: solid #9E9F9A;
	background-image: url("bacalhau2");
	background-repeat: no-repeat;
	border-top: none;
	border-right: none;
	display: inline-block;
	padding: 5%;
	float: left;
	width: 50%;
	height: 125px;
	border-bottom-left-radius: 25px;
}

#SuggestionButton3 {
	border: solid #9E9F9A;
	background-image: url("bitoque2");
	border-top: none;
	display: inline-block;
	padding: 5%;
	float: left;
	width: 50%;
	height: 125px;
	border-bottom-right-radius: 25px;
}

/*Cronometro*/
#Timer {
	
	
	margin-right: auto;
	margin-left: auto;
	margin-top: 5%;

	text-align: center;
	color: white;
	font-size: 3em;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
	width: 20%;

	background-color: #9E9F9A; /* Green */
}

#TimerText {
	
}

#ProgressBar {
	height: 5%;
	width: 0%;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
}

/*
progress {
	position: relative;
	width: 100%;
	height: 10%;
}
*/

.meter { 
	height: 20px;  /* Can be anything */
	position: relative;
	background: #555;
	color: green;
	padding: 10px;
}