body {
	background-color:#E0D7D2;
	background-repeat: no-repeat;
	background-size:100%,100%;
	font-family: Consolas;
}

#Titulo {
	width: 100%;
	text-align: center;
	font-size: 2.5em;
}

#OverviewGrid {
	position: absolute;
	top: 15%;
	text-align: center;
}

#Table {
	left: 0%;
	margin-left: 12%;
	background-color: #8F4350;
	color: #CEB094;
}

#Table td {

}

#Table2 {
	left: 0%;
	margin-left: 12%;
	
}

#Table2 td {

}

#Table3 {
	background-color: #8F4350;
	color: #CEB094;
}

#NutricionalGrid {
	position: absolute;
	right: 5%;
	top: 15%;
	text-align: center;
}

ul {
	list-style-type: none;
	text-align: left;
}

.button {
	color: #CEB094;
	background-color: #8F4350;
	border: 2% solid #8F4350;
	border-radius: 5px;

	font-size: 4em;

	width: 15%;
	height: 10%;
	text-align: center;

	margin-bottom: 1%;
}

#BotaoVoltar {
	position: absolute;
	bottom: 5%;
	left: 5%;

	font-size: 1em;
}

#BotaoPedir {
	position: absolute;
	bottom: 5%;
	right: 5%;

	font-size: 1em;
}

.meter { 
	height: 20px;  /* Can be anything */
	position: relative;
	background: #555;
	color: green;
	padding: 10px;
}